In [39]:
#Configuração do Ambiente e Conexão com o Banco de Dados

import pandas as pd
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

user = 'app_user'
password = 'app_password'
host = '127.0.0.1' 
port = '3306'
database = 'movies_db'

connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

try:
    connection = engine.connect()
    print("Conexão com o banco de dados MySQL bem-sucedida")
    connection.close()
except Exception as e:
    print(f"Erro ao conectar ao banco de dados: {e}")

Conexão com o banco de dados MySQL bem-sucedida

In [40]:
# Carregando os CSV em DataFrames para iniciar a utilização

import pandas as pd
import warnings

path_movies = 'movies_metadata.csv'
path_credits = 'credits.csv'
path_keywords = 'keywords.csv'
path_ratings = 'ratings_small.csv'

try:
    df_movies = pd.read_csv(path_movies)
    df_credits = pd.read_csv(path_credits)
    df_keywords = pd.read_csv(path_keywords)
    df_ratings = pd.read_csv(path_ratings)

    print("Arquivos principais carregados com sucesso")
    print(f"df_movies: {df_movies.shape[0]} filmes")
    print(f"df_credits: {df_credits.shape[0]} registros de créditos")
    print(f"df_keywords: {df_keywords.shape[0]} registros de palavras-chave")
    print(f"df_ratings: {df_ratings.shape[0]} avaliações (versão small)")

except FileNotFoundError as e:
    print(f"Erro de Arquivo Não Encontrado. Verifique os nomes e caminhos dos arquivos.")
    print(f"Detalhe do erro: {e}")

Arquivos principais carregados com sucesso
df_movies: 45466 filmes
df_credits: 45476 registros de créditos
df_keywords: 46419 registros de palavras-chave
df_ratings: 100004 avaliações (versão small)

In [41]:
# Analise exploratória da tabela principal
print("5 Primeiras Linhas de movies_metadata.csv")
display(df_movies.head())

print("\nInformações Gerais (info) de movies_metadata.csv")
df_movies.info()

5 Primeiras Linhas de movies_metadata.csv

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Informações Gerais (info) de movies_metadata.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [42]:
# Análise exploratória das tabelas secundária
print("Tabela de Créditos (credits.csv)")
display(df_credits.head())

print("\nTabela de Palavras-Chave (keywords.csv)")
display(df_keywords.head())

print("\nTabela de Avaliações (ratings_small.csv)")
display(df_ratings.head())

Tabela de Créditos (credits.csv)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

Tabela de Palavras-Chave (keywords.csv)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

Tabela de Avaliações (ratings_small.csv)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [53]:
print("Contagem de valores nulos por coluna:")

missing_values = df_movies.isnull().sum()

print(missing_values[missing_values > 0].sort_values(ascending=False).head(20))

Contagem de valores nulos por coluna:
belongs_to_collection    40972
homepage                 37684
tagline                  25051
overview                   954
poster_path                386
runtime                    260
release_date                87
status                      84
imdb_id                     17
original_language           11
popularity                   3
revenue                      3
production_countries         3
production_companies         3
spoken_languages             3
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

In [55]:
numeric_ids = pd.to_numeric(df_movies['id'], errors='coerce')
invalid_ids_count = numeric_ids.isnull().sum()
print(f"número de IDs não numéricos encontrados: {invalid_ids_count}")

duplicate_ids_count = df_movies['id'].duplicated().sum()
print(f"número de IDs duplicados encontrados: {duplicate_ids_count}")

número de IDs não numéricos encontrados: 0
número de IDs duplicados encontrados: 30

In [43]:
# Transformação 1.0

# Limpa os IDs inválidos
df_movies['id'] = pd.to_numeric(df_movies['id'], errors='coerce')
df_movies.dropna(subset=['id'], inplace=True)
df_movies['id'] = df_movies['id'].astype(int)
df_credits['id'] = df_credits['id'].astype(int)
df_keywords['id'] = df_keywords['id'].astype(int)


# Unificandos os DataFrames
df_merged = pd.merge(df_movies, df_credits, on='id', how='left')
df_merged = pd.merge(df_merged, df_keywords, on='id', how='left')

# Removendo IDs duplicados
df_merged.drop_duplicates(subset=['id'], keep='first', inplace=True)


print("\nDataFrames mesclados com sucesso")
print(f"Formato final {df_merged.shape}")

print("\nInformações do DataFrame Mesclado")
df_merged.info()

print("\n5 Primeiras Linhas do DataFrame Mesclado")
display(df_merged.head())

DataFrames mesclados com sucesso
Formato final (45433, 27)

Informações do DataFrame Mesclado
<class 'pandas.core.frame.DataFrame'>
Index: 45433 entries, 0 to 46628
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45433 non-null  object
 1   belongs_to_collection  4488 non-null   object
 2   budget                 45433 non-null  object
 3   genres                 45433 non-null  object
 4   homepage               7774 non-null   object
 5   id                     45433 non-null  int64
 6   imdb_id                45416 non-null  object
 7   original_language      45422 non-null  object
 8   original_title         45433 non-null  object
 9   overview               44479 non-null  object
 10  popularity             45430 non-null  object
 11  poster_path            45047 non-null  object
 12  production_companies   45430 non-null  object
 13  production_countries   45430 non-null  object
 14  release_date           45346 non-null  object
 15  revenue                45430 non-null  float64
 16  runtime                45173 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           45430 non-null  float64
 23  vote_count             45430 non-null  float64
 24  cast                   45432 non-null  object
 25  crew                   45432 non-null  object
 26  keywords               45432 non-null  object
dtypes: float64(4), int64(1), object(22)
memory usage: 9.7+ MB

5 Primeiras Linhas do DataFrame Mesclado

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [44]:
# Transformação 2.0 (conversão dos tipos de dados)

df_merged['budget'] = pd.to_numeric(df_merged['budget'], errors='coerce').fillna(0).astype(int)
print("Coluna 'budget' convertida para inteiro.")

df_merged['popularity'] = pd.to_numeric(df_merged['popularity'], errors='coerce').fillna(0).astype(float)
print("Coluna 'popularity' convertida para float.")

df_merged['release_date'] = pd.to_datetime(df_merged['release_date'], errors='coerce')
print("Coluna 'release_date' convertida para data.")

df_merged['adult'] = df_merged['adult'] == 'True'
print("Coluna 'adult' convertida para booleano.")

df_merged['video'] = df_merged['video'] == 'True'
print("Coluna 'video' convertida para booleano.")

print("\nTipos de dados após a conversão")
print(df_merged[['budget', 'popularity', 'release_date']].dtypes)

Coluna 'budget' convertida para inteiro.
Coluna 'popularity' convertida para float.
Coluna 'release_date' convertida para data.
Coluna 'adult' convertida para booleano.
Coluna 'video' convertida para booleano.

Tipos de dados após a conversão
budget                   int64
popularity             float64
release_date    datetime64[ns]
dtype: object

In [46]:
# Função Auxiliar de Extração

import ast

def extract_json_data(data, key_to_extract, limit=None):
    
    if isinstance(data, str) and data.startswith('['):
        try:
            list_of_items = ast.literal_eval(data)

            if list_of_items:
                if limit:
                    list_of_items = list_of_items[:limit]

                names = [item.get(key_to_extract, '') for item in list_of_items]

                return ', '.join(filter(None, names))
        except (ValueError, SyntaxError):
            return ''
    return ''

In [47]:

# Extração para Limpar as Colunas em JSON

df_merged['genres'] = df_merged['genres'].apply(lambda x: extract_json_data(x, 'name'))

df_merged['cast'] = df_merged['cast'].apply(lambda x: extract_json_data(x, 'name', limit=3))

df_merged['keywords'] = df_merged['keywords'].apply(lambda x: extract_json_data(x, 'name'))

def get_director(crew_data):
    if isinstance(crew_data, str) and crew_data.startswith('['):
        try:
            crew_list = ast.literal_eval(crew_data)
            for member in crew_list:
                if member.get('job') == 'Director':
                    return member.get('name', '')
        except (ValueError, SyntaxError):
            return ''
    return ''

df_merged['director'] = df_merged['crew'].apply(get_director)

print("extração concluída")

print("\ndados transformados")
display(df_merged[['title', 'genres', 'cast', 'director', 'keywords']].head())

extração concluída

dados transformados

,title,genres,cast,director,keywords
0,Toy Story,"Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles",John Lasseter,"jealousy, toy, boy, friendship, friends, rival..."
1,Jumanji,"Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston,"board game, disappearance, based on children's..."
2,Grumpier Old Men,"Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret",Howard Deutch,"fishing, best friend, duringcreditsstinger, ol..."
3,Waiting to Exhale,"Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devine",Forest Whitaker,"based on novel, interracial relationship, sing..."
4,Father of the Bride Part II,Comedy,"Steve Martin, Diane Keaton, Martin Short",Charles Shyer,"baby, midlife crisis, confidence, aging, daugh..."

In [48]:
# Transformação final e garantindo alinhamento ao schema

def get_collection_name(data):
    if isinstance(data, str) and data.startswith('{'):
        try:
            collection_dict = ast.literal_eval(data)
            return collection_dict.get('name', '')
        except (ValueError, SyntaxError):
            return ''
    return ''

df_merged['belongs_to_collection'] = df_merged['belongs_to_collection'].apply(get_collection_name)
df_merged['production_companies'] = df_merged['production_companies'].apply(lambda x: extract_json_data(x, 'name', limit=3))
df_merged['production_countries'] = df_merged['production_countries'].apply(lambda x: extract_json_data(x, 'name'))
df_merged['spoken_languages'] = df_merged['spoken_languages'].apply(lambda x: extract_json_data(x, 'name'))

colunas_finais_movies = [
    'id', 'title', 'overview', 'release_date', 'budget', 'revenue', 'runtime',
    'popularity', 'status', 'tagline', 'vote_average', 'vote_count', 'imdb_id',
    'original_language', 'genres', 'production_companies', 'production_countries',
    'spoken_languages', 'belongs_to_collection',
    'director',
    'cast',
    'keywords'
]

df_movies_final = df_merged[colunas_finais_movies].copy()

for col in df_movies_final.select_dtypes(include='object').columns:
    df_movies_final[col] = df_movies_final[col].fillna('')

print("DataFrame final pronto")
df_movies_final.info()

DataFrame final pronto
<class 'pandas.core.frame.DataFrame'>
Index: 45433 entries, 0 to 46628
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     45433 non-null  int64
 1   title                  45433 non-null  object
 2   overview               45433 non-null  object
 3   release_date           45346 non-null  datetime64[ns]
 4   budget                 45433 non-null  int64
 5   revenue                45430 non-null  float64
 6   runtime                45173 non-null  float64
 7   popularity             45433 non-null  float64
 8   status                 45433 non-null  object
 9   tagline                45433 non-null  object
 10  vote_average           45430 non-null  float64
 11  vote_count             45430 non-null  float64
 12  imdb_id                45433 non-null  object
 13  original_language      45433 non-null  object
 14  genres                 45433 non-null  object
 15  production_companies   45433 non-null  object
 16  production_countries   45433 non-null  object
 17  spoken_languages       45433 non-null  object
 18  belongs_to_collection  45433 non-null  object
 19  director               45433 non-null  object
 20  cast                   45433 non-null  object
 21  keywords               45433 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(14)
memory usage: 8.0+ MB

In [49]:
# Limpando tabela para inserção

from sqlalchemy import text

try:
    with engine.connect() as connection:
        with connection.begin() as transaction:
            connection.execute(text("SET FOREIGN_KEY_CHECKS = 0;"))
            
            print("Limpando a tabela 'ratings'...")
            connection.execute(text("TRUNCATE TABLE ratings;"))
            
            print("Limpando a tabela 'movies'...")
            connection.execute(text("TRUNCATE TABLE movies;"))
            
            connection.execute(text("SET FOREIGN_KEY_CHECKS = 1;"))
            
            print("Tudo limpo")            
except Exception as e:
    print(f"erro ao limpar as tabelas: {e}")

Limpando a tabela 'ratings'...
Limpando a tabela 'movies'...
Tudo limpo

In [50]:
# Carregando os dados na tabela movies
try:
    df_movies_final.to_sql(
        'movies',
        con=engine,
        if_exists='append', 
        index=False,     
        chunksize=1000    
    )
    print("Carregamento da tabela concluído")

except Exception as e:
    print(f"Ocorreu um erro durante o carregamento: {e}")

Carregamento da tabela concluído

In [51]:
# PipeLine de ETL para tabela ratings

try:
    df_ratings = pd.read_csv('ratings_small.csv')
    
    df_ratings.rename(columns={
        'userId': 'user_id',
        'movieId': 'movie_id',
        'timestamp': 'rating_timestamp'
    }, inplace=True)
    
    df_ratings['rating_timestamp'] = pd.to_datetime(df_ratings['rating_timestamp'], unit='s')
    
    valid_movie_ids = df_movies_final['id'].unique()
    
    df_ratings_valid = df_ratings[df_ratings['movie_id'].isin(valid_movie_ids)]
    
    print(f"Encontradas {len(df_ratings)} avaliações no CSV. {len(df_ratings_valid)} são.")
    
    df_ratings_valid.to_sql(
        'ratings',
        con=engine,
        if_exists='append',
        index=False,
        chunksize=5000
    )
    print("carregamento da tabela")

except Exception as e:
    print(f"ocorreu um erro durante o carregamento da tabela: {e}")

Encontradas 100004 avaliações no CSV. 44989 são.
carregamento da tabela

# Análise Estatística Completa dos Dados

Vamos realizar uma análise estatística detalhada dos dados carregados no banco de dados.

In [1]:
# 2. Distribuição de filmes por década
df_movies_db['year'] = pd.to_datetime(df_movies_db['release_date']).dt.year
df_movies_db['decade'] = (df_movies_db['year'] // 10) * 10

print("\n" + "=" * 80)
print("DISTRIBUIÇÃO DE FILMES POR DÉCADA")
print("=" * 80)

decade_counts = df_movies_db['decade'].value_counts().sort_index()
print(decade_counts)

print(f"\n📅 Período coberto: {df_movies_db['year'].min():.0f} até {df_movies_db['year'].max():.0f}")

NameError: name 'pd' is not defined

In [ ]:
# 5. Análise de gêneros mais comuns
print("\n" + "=" * 80)
print("ANÁLISE DE GÊNEROS")
print("=" * 80)

# Extrair todos os gêneros (estão separados por vírgula)
all_genres = []
for genres_str in df_movies_db['genres'].dropna():
    if genres_str:
        genres_list = [g.strip() for g in genres_str.split(',')]
        all_genres.extend(genres_list)

genre_counts = pd.Series(all_genres).value_counts().head(15)
print("\nTop 15 gêneros mais frequentes:")
print(genre_counts)

In [ ]:
# 7. Filmes mais avaliados
print("\n" + "=" * 80)
print("TOP 10 FILMES MAIS AVALIADOS")
print("=" * 80)

ratings_count = df_ratings_db.groupby('movie_id').agg({
    'rating': ['count', 'mean']
}).reset_index()
ratings_count.columns = ['movie_id', 'num_ratings', 'avg_rating']

# Join com a tabela de filmes para pegar os títulos
top_rated = ratings_count.nlargest(10, 'num_ratings')
top_rated = top_rated.merge(df_movies_db[['id', 'title']], left_on='movie_id', right_on='id')
display(top_rated[['title', 'num_ratings', 'avg_rating']])

In [ ]:
# 8. Análise de qualidade dos dados
print("\n" + "=" * 80)
print("ANÁLISE DE QUALIDADE DOS DADOS")
print("=" * 80)

print("\n📋 Valores nulos por coluna:")
null_counts = df_movies_db.isnull().sum()
null_percentages = (null_counts / len(df_movies_db) * 100).round(2)
quality_df = pd.DataFrame({
    'Valores Nulos': null_counts,
    'Percentual (%)': null_percentages
})
display(quality_df[quality_df['Valores Nulos'] > 0].sort_values('Valores Nulos', ascending=False))

print("\n✅ Resumo da Qualidade:")
print(f"- Total de registros: {len(df_movies_db)}")
print(f"- Colunas com dados 100% completos: {(null_counts == 0).sum()}/{len(null_counts)}")
print(f"- Integridade média dos dados: {((1 - null_counts.sum() / (len(df_movies_db) * len(df_movies_db.columns))) * 100):.2f}%")

In [ ]:
# 6. Estatísticas de avaliações
print("\n" + "=" * 80)
print("ANÁLISE ESTATÍSTICA - TABELA RATINGS")
print("=" * 80)

query_ratings = "SELECT * FROM ratings"
df_ratings_db = pd.read_sql(query_ratings, engine)

print(f"\n📊 Total de avaliações: {len(df_ratings_db)}")
print(f"👥 Total de usuários únicos: {df_ratings_db['user_id'].nunique()}")
print(f"🎬 Total de filmes avaliados: {df_ratings_db['movie_id'].nunique()}")

print("\n" + "=" * 80)
print("ESTATÍSTICAS DAS NOTAS")
print("=" * 80)
display(df_ratings_db['rating'].describe())

print("\nDistribuição de notas:")
print(df_ratings_db['rating'].value_counts().sort_index())

In [ ]:
# 3. Top 10 filmes com maior orçamento
print("\n" + "=" * 80)
print("TOP 10 FILMES COM MAIOR ORÇAMENTO")
print("=" * 80)

top_budget = df_movies_db.nlargest(10, 'budget')[['title', 'budget', 'revenue', 'release_date']]
display(top_budget)

# 4. Top 10 filmes com maior receita
print("\n" + "=" * 80)
print("TOP 10 FILMES COM MAIOR RECEITA")
print("=" * 80)

top_revenue = df_movies_db.nlargest(10, 'revenue')[['title', 'budget', 'revenue', 'release_date']]
display(top_revenue)

In [ ]:
# 1. Estatísticas descritivas dos filmes
print("=" * 80)
print("ANÁLISE ESTATÍSTICA - TABELA MOVIES")
print("=" * 80)

query_movies = "SELECT * FROM movies"
df_movies_db = pd.read_sql(query_movies, engine)

print(f"\n📊 Total de filmes no banco: {len(df_movies_db)}")
print("\n" + "=" * 80)
print("ESTATÍSTICAS DESCRITIVAS - VARIÁVEIS NUMÉRICAS")
print("=" * 80)

display(df_movies_db[['budget', 'revenue', 'runtime', 'popularity', 'vote_average', 'vote_count']].describe())